:root {
  --primary: #000b41;
  --bg: #cdb7a2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  min-height: 2000px;
}

/* slider layanan kami */
  .body {
    background-image:
      linear-gradient(
        to top right, #8B5CF6, #EC4899
      );
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
  }

  .slider-local {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .item-local {
    position: absolute;
    width: 350px;
    height: 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 120px);
    top: 0;
  }

  #next, #prev {
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
  }

  #next {
    left: unset;
    right: 50px;
  }

/* end Slider layanan kami */

/* .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(155, 223, 255, 0.8);
  border-bottom: 1px solid #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: background-color 0.3s ease-in-out; 
}

.topbar.scrolled {
  background-color: white;
  border-bottom: 1px solid #000000;
  opacity: 0.98;
}

.topbar .topbar-top a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.5rem;
  font-weight: 700;
}

.topbar .topbar-top a:hover {
  color: #0ead0e;
}

.topbar .topbar-top a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #00ff00;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.topbar .topbar-top a:hover::after {
  transform: scaleX(0.5);
}

.topbar .navbar-extra a {
  margin: 0 0.5rem;
}

.topbar .navbar-extra a:hover {
  color: #00ff00;
}

  #hamburger-menu {
    display: none;
  } */
/* HeroSection */
/* .hero {
  background-color: cyan;
  width: 100%;
}

/* ! Navbar Terbaru */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.1rem 10%;
  /* background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(70px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .9);
  backdrop-filter: blur(70px);
  z-index: -1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.header:hover::after {
  left: 100%;
}

.NAVBAR a {
  transition: .3s ease;
  font-size: 1.15rem;
  color: #1f2c56;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

#check {
  display: none;
}

.icons {
  right: 5%;
  position: absolute;
  color: #fff;
  cursor: pointer;
  font-size: 2.8rem;
  display: none;
}

.header.scrolled {
  transition: .5s ease;
  background-color: #fff;
  box-shadow: 0px 1px 30px -6px rgba(0, 0, 0, 0.5);
  /* color: #1f2c56; */
  /* border-bottom: 1px solid #000000;
  opacity: 0.98; */
}

.header.scrolled a {
  transition: .5s ease;
  color: #1f2c56;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }

  .icons {
    color: #1f2c56;
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .NAVBAR {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba( 0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }
  
  #check:checked~.NAVBAR {
    height: 17.7rem;
  }

  .NAVBAR a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }
  
  /* #check:checked~.NAVBAR a {
    transform: translateY(0);  */
    /* opacity: 1; */
    /* transition-delay: calc(.15s * var{--i});
  } */
  
  #check:checked~.NAVBAR a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(12s * var{--i});
  }

  .header.scrolled a {
    font-weight: 700;
    transition: .5s ease;
    color: #1f2c56;
  }
}

.hero .content {
  max-width: 60rem;
}

.h1-hero {
  font-size: 5rem;
  color: white;
  text-shadow: 3px 3px 5px #1f2c56;
  /* -webkit-text-stroke: 1px #1f2c56; */
  font-weight: 700;
  line-height: 1;
}

.p-hero {
  font-size: 2rem;
  text-shadow: 2px 2px 4px #1f2c56;
  font-weight: 700;
  line-height: 1;
  margin-top: 1.5rem;
}

.cta {
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  color: white;
  background-color: #000b41;
  text-shadow: 1px 1px 3px #cdb7a2;
  border-radius: 0.5rem;
}

.content {
  width: 60%;
}

.cta:hover {
  background-color: gray;
  /* background-color: #00ba89; */
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

/* About/Company */
.company {
  padding: 6rem 7% 1.4rem;
  color: #000000;
  /* background-color: #0 0ff00; */
}

.company .content h2 {
  font-size: 2rem;
}

.company .row-local {
  display: flex;
}

.company .row-local .about-img {
  flex: 1 1 35rem;
}

.company .row-local .about-img img {
  width: 90%;
  border-radius: 0.5rem;
}

.company .row-local .content {
  flex: 1 1 25rem;
  padding: 0 1rem;
}

.company .row-local .content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.company .row-local .content p {
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  line-height: 1.6;
}

.company .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  color: white;
  background-color: #1f2c56;
  /* text-shadow: 1px 1px 3px #00ba89; */
  border-radius: 0.5rem;
}
.company .content a:hover {
  background-color: gray;
  color: #ffffff;
  /* text-shadow: 2px 2px 4px #000000; */
}

/* LayananKami */
.ItSolution {
  padding: 8rem 7% 2rem;
  color: #000000;
  text-align: center;
}
.ItSolution h2 {
  font-size: 2rem;
}

.ItSolution .row-local {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  justify-content: center;
}

.menu-card {
  text-align: center;
  padding-bottom: 2rem;
}

.ItSolution .row-local .menu-card img {
  border-radius: 5%;
  width: 60%;
}

.ItSolution .row-local .menu-card .menu-card-title {
  margin-top: 0.5rem;
}

/* Cara Kerja Kami(Start) */

/* Cara Kerja Kami(end) */

/* Proyek Terkerjakan Start */
/* .Proyek {
  text-align: center;
  margin-bottom: 3rem;
}
.Proyek h2 {
  font-size: 2rem;
} */

/* .Proyek .row-local {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  justify-content: center;
} */
/* .Proyek .menu-card {
  padding-bottom: 2rem;
  padding: 0 15px;
  margin-top: auto;
  margin-bottom: auto;
} */

/* Proyek Terkerjakan end */

.Contacts {
  padding: 8rem 7% 1.4rem;
}

.Contacts h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

/* Efek fade */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .5s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .topbar .topbar-top {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffd477;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .topbar .topbar-top .active {
    right: 0;
  }

  .topbar .topbar-top a {
    color: #000000;
    display: block;
    margin: 1.5rem;
  }

  .company .row-local .about-img img {
    height: 24rem;
  }

  /* .Proyek .slider-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .Proyek .slider {
    display: flex;
    padding: 10px;
    gap: 10px; 
    flex-wrap: nowrap;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
  }

  .Proyek .menu-card {
    flex: 0 0 auto; 
    max-width: 150px;
  } */

}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .company .content p {
    flex-wrap: wrap;
  }
}

.Proyek {
  text-align: center;
  margin-top: 20px
}

.Proyek h2 {
  font-size: 2rem;
}

/* Style for the slider container */
.slider-container {
  max-width: 90%; /* Adjust the width as needed */
  margin: 0 auto;
}

/* Style for the slider */
.slider {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

/* Style for the menu card */
.menu-card {
  flex: 0 0 auto;
  width: calc(100% / 4); /* Adjust the width of the cards based on the number of slidesToShow */
  padding: 10px;
  box-sizing: border-box;
}

/* Style for the thumbnail images */
.img-thumbnail-proyek {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}